.geaga-holder{
height:100%;
width: 100%;
position: fixed;
top: -4%;
left: 33%;
transform:scale(1)	

}
.eyes-holder{

	top: 37%;
    left: 22%;
	opacity: 0.5;
	position: fixed;
}

@media only screen and (min-width: 1024px) {
	.geaga-holder  {
		transform:scale(1.7);
		top:45%;
		left:68%;
	
	}

	.eyes-holder{

		top: 14%;
		left: 15%;
	}
  }