.gael-ring-0{
	top:0;
	position:fixed;
	left: 0;
	height: 100%;
width: 100%;
display: flex;
padding:0;
margin:0;
justify-content: left;
align-items:left;

}
#gael-challenge-bg{
	display: none;
}
#gael-ring-lens{
padding:0;
margin:0;
height:100%;
width: 100%;
	/* border:4px solid orange; */
} 
.history-e{
font-family: 'anaphora';
margin-left: 20%;
margin-top: 4%;
/* border: 4px solid green; */
top: 2%;
left: 22%;
width: 55%;
z-index: 99;
}
#toggle-glass-btn-history{
	height: 50px;
    width: 50px;
    /* border: 5px solid orange; */
    position: fixed;
    z-index: 9000;
	bottom: 0%;
    right: 5%;
	background-color: rgba(0,0,0,0);
	border-radius: 50%;
}
.history-i{width:63%;
  top:5%;
left:37%;}
.ring-text-container-gael{

	pointer-events: none;
    top: 5%;
    left: 39%;
    height: 100%;
    width: 59%;
    z-index: 9000;
    position: fixed;
}
.ring-gael-dial-container, #bg-container-gael{

	z-index: 1999;
	position: fixed;
	height: 100%;
	width: 100%;
    top: 5%;
    left: 0%;
	  justify-content:left;
	  display: flex;
	  align-items: left;
	  /* border: 14px solid orange; */
  }
  #bg-container-gael{
	opacity: 0;

  }

  .dial-gael{
	animation: fade-in-dial 3s forwards;
    z-index: 800;
    height: 266px;
    width: 266px;
    position: fixed;
    pointer-events: all;
  bottom:7%;
  left:4%;
  }

  .tut-ring-g-container{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
  justify-content: left;
  align-items: center;
  display:flex;
  z-index: 998
  
  
  }

  #tut-g{
	/* animation: spin 60s steps(128) infinite; */
display: none;
  }
  .slide1{padding-top: 1%;
  border-radius: 50%;
  transform: scaleX(-1)
   
  }
  .slide1b{
    transform: scale(0.3);
    position:relative;
    /* border: 5px solid blue; */
    top:10%;
     animation: bobbing 2.5s steps(3) infinite alternate-reverse;
  }

    @keyframes bobbing{

      0%{margin-top: 2%;}
  
      100%{margin-top:-2%}
    }

    .sea-wave{
      /* border: 10px solid orange; */
    z-index: 1;
    position: fixed;
      pointer-events: none;
      height: 100%;
 width: 100%;
      /* border-left: 120px solid #2e292f; */
      /* border-right: 120px solid #2e292f; */
    
    
    }
    .gael-bg {z-index: -1;
      animation: fade-in 1s linear forwards;
    }
    .button-mash-container-gael{
      pointer-events: none;
        z-index: 99;
        position: fixed;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        justify-content: left;
        display: flex;
        align-items:center;
       /* border: 14px solid orange; */
      
      
      
    }
    .button-mash-gael{

      position: fixed;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      opacity: 1;
      background-color: rgba(0,0,0,0.0);
      pointer-events: all;
      left: 22%;
    /* justify-content: center; */
    /* align-items: center; */
    /* border: 1px solid rgb(207,181,59); */
    top: 56%;
    }

    .druids{
      pointer-events: none;
      height: 50%;
      bottom: 0%;
      position: fixed;
      left: -6%;

    }