
  /* Styles for mobile devices in landscape mode */
  @media screen and (max-width: 767px) and (orientation: landscape) {

	.sea-wave{
		height: 100% !important;
		width: 300% !important;
	}
	.about-hist{

		justify-content: left;
	  }


	.song{
		transform: translate(-3%, -%) !important;
	}
	
	.history-e {
		font-family: 'anaphora';
		margin-left: 20%;
		margin-top: 4%;
		/* border: 4px solid green; */
		top: 22% !important;

		left: 26% !important;
		    width:50% !important;

		z-index: 99;
	  }
	/* Add your landscape mode styles here */
	#iron-key-text {
		top: 35% !important;
		transform: scale(1) !important;
		/* border: 4px solid blue; */
	}
	.button-mash-container-gael{
	    position: fixed !important;
    bottom: 7% ;
    left: 4%;

  }	
  .history-i{
	  width: 60%;
		top: 4%;
		left: 46%;
		font-size: 2em;
		pointer-events: none;
		
	}
}
/* for vert mode */
/* Styles for mobile devices in portrait mode */
@media screen and (max-width: 767px) and (orientation: portrait) {
	/* Add your portrait mode styles here */
	.history-e {
		font-family: 'anaphora';
		margin-left: 20%;
		margin-top: 4%;
		/* border: 4px solid green; */
		font-size: 2em;
		z-index: 99;
		transform: translate(-45%,0);
		top: 2% !important;
		left: 37%;
		width: 85% !important;
		
	}

	.distant-town{animation: none;}
	.history-i{
		
		top: 4%;
		left: 3%;
		font-size: 1.8em;
		pointer-events: none;
		width:90% !important;
		/* border: 5px solid blue; */
		transform:translate(-45%,-35%);


	}
	
	/* .tails{
		border:4px solid green;
	} */
	.dial-gael{
		/* position:fixed;   */
		/* top:20% !important; */
		left: 0 !important;
		justify-content: center !important;
		position:relative !important }
		
		.ring-gael-dial-container{
			display: grid;
			/* border: 4px solid blue; */
			padding-top:41%;
			justify-content: center !important;
  align-items: center;
	 
  
}

  .about-hist{

	justify-content: center;
  }
  
  #iron-key-text {
	  top: 51%;
	  transform: scale(0.7);
	  
	  
	}
	.iron-key-portrait {
    left: 26%;
    margin-top: 164%;}
  .menu-container{
	  top:46% 
	  /* border:4px solid green */
	}

	.amergin-wave{

		top: 51% !important;
		transform: translate(0%,5%);
		left: 15% !important;
		
	}
	.slide1b{
		transform: translate(0,120%) scale(0.4) !important;
	}
.song{
	transform: translate(-3%, 5%) !important;
}

.mash{
	margin-top: 15%;
}
.button-mash-container-gael{
	position: relative !important;
    bottom: 0% !important;
    left: 0% !important;

}

.sea-wave{
	height: 100%;
	width: 600% !important;
}
}
